# macOS
.DS_Store

# firefox profile
firefox-profile

# web

web-ext-artifacts/
*.zip
node_modules
**/node_modules
**/dist

# safari
**/xcdebugger
Shared\ (Extension)/Resources/dist/
**/xcuserdata
**/*.xcuserstate


### VisualStudioCode ###
**/.vscode/
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
!**/.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
